<article>
  <a href="/views/dashboard.handlebars"> &larr; Back to dashboard</a>
  <h2>
    Edit Forum
  </h2>
  <form class="edit-forum-form">
    <div>
      <input name="forum-title" type="text" value="input" />
      
    </div>
    <section>

    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
    
    </section>

  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<script src="/public/javascript/post-edit.js"></script>
<script src="/public/javascript/post-delete.js"></script>