<nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
    
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
        <a class="button is-info my-3" href="/views/homepage.hbs">
          <strong>Home</strong>
        </a>
        <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
        <a class="button is-info my-3" href="/views/dashboard.handlebars">
          <strong>Dashboard</strong>
        </a>

        </div>
        <div class="navbar-end ml-8">
          <a class="button is-info my-2" href="/views/signup.handlebars">
            <strong>Sign up</strong>
          </a>
          <div class="navbar-end">
            <a class="button is-info my-2" href="/views/login.handlebars">
              <strong>Log In</strong> 
            </a>
          </div>
        </div>
      </div>
  
<script src="/public/javascript/burger.js"></script>
 </nav>
