{{!-- LANDING/LOADING PAGE --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum Finder</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  {{!-- <link rel="stylesheet" href="/public/css/styles.css"> --}}
{{>navbar}}
</head>

<body>
  <div class="wrapper">
    <header>

      {{!-- {{{ header }}} --}}
      {{!-- <h1>
        <a href="/">Forum Finder</a>
      </h1> --}}

      <p>
        this is the landing page. >:{
      </p>
    </header>
    <main>
{{{ homepage }}}
      {{!-- {{{ homepage }}} --}}
    </main>
  
  </div>
 {{#if loggedIn}}
  <script src="/public/javascript/logout.js"></script>
  {{/if}}
</body>

</html>